# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
.env
docker.txt
src/main/resources/application.properties
src/main/java/com/code/vanilson/jpa/config


# Mac
.DS_Store

# Maven
log/
target/
